<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    
    <div class="main">
        <div class="p1">
            <input type="text" id="roma" placeholder='Type "Roma" here ...'>
            <input type="text" id="number" placeholder='Type "Number" here...'>
            <button type="submit" id="btn_r">roma > number</button>
            <button type="submit" id="btn_n">number > roma</button>
            <button type="submit" id="del">clear</button>
        </div>
    </div>

</body>
<script src="static/jquery-3.6.1.min.js"></script>
<script src="static/logic.js"></script>
</html>